.right-answers-container {
  width: 23%;
  height: 90vh;
  border: 1px solid #feda4a;
  box-shadow: 0 0 10px #feda4a;
  border-radius: 25px;
  flex-direction: column;
}

.right-answers-header {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  color: #feda4a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid #feda4a;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-answers-wrapper {
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 1rem;
}

.right-answer-container {
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #00ced1;
  font-size: 1.2rem;
  color: #00ced1;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.string-container {
  width: 45%;
  text-align: center;
  white-space: normal;
}

.score {
  font-size: 1.5rem;
}
