.user-turns-container {
  width: 23%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.user-turns-container h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #feda4a;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.7rem 0;
}

.user-turns-list {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid #feda4a;
  box-shadow: 0 0 10px #feda4a;
}

.user-turns-header {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  color: #feda4a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #feda4a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.overflow-list-wrapper {
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 2.8rem;
}


