.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.players-select-container {
  width: 25%;
  margin: 2rem;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-list-selector {
  position: relative;
  overflow-y: auto;
  height: 90vh;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #feda4a;
  box-shadow: 0 0 10px #feda4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.add-players-button {
  border: none;
  background: #feda4a;
  text-transform: uppercase;
  color: black;
  padding: 1rem;
  border-radius: 25px;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.add-players-button:hover {
  box-shadow: 0 0 10px #feda4a;
}


.player-card-container {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  padding: 0.3rem 1rem;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: #feda4a;
  font-weight: bold;
  pointer-events: none;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.player-card-container:hover {
  border: 1px solid #00ced1;
  border-radius: 25px;
}
